{% extends 'studentbase.html' %}

{% block body %}

<div class="container fluid mx-0 px-0">
<img src="static/que1.png">
</div>
<div class="container my-5">
<h1 align='center'>What is your complaint?</h1>
<div class="container my-5">
<form align="center" action="studentquery" method="post">
{% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlSelect1"><strong><h3>Select Your Problem!</h3></strong></label>
    <select class="form-control" id="exampleFormControlSelect1" name="category">
      <option value="Cleaning">Cleaning</option>
      <option value="Electricty">Electricty</option>
      <option value="Meal">Meal</option>
      <option value="Payment">Payment</option>
      <option value="Staff">Staff</option>
      <option value="Student Dashboard">Student Dashboard</option>
      <option value="Transport">Transport</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><strong><h3>Explain Here!</h3></strong></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-2"><strong>Submit Complaint</strong></button>
</form>
</div>
</div>
{% endblock body %}